{% extends "snippets/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<h1 class="forum_details_title">{{ title }}</h1>
<br>
<a href="{% url 'post:create' %}"><button type="button" class="btn btn-default" id="create_post_button">
  Create Post</button></a>
{% for object in object_list %}
<ul id="post_list">
    <h1><a href="{{object.get_absolute_url}}">{{ object.name }}</a></h1>
    Submitted <b>{{ object.created|timesince }} ago</b> by <b>{{ object.author }}</b>
    <br>
    <span>{{object.comment_set.all|length}} comments</span>

</ul>
{% endfor %}

{% endblock %}
