/* --------------------------- GLOBAL -------------------------*/

body {
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	font-family: Lobster;
}

p {
	word-wrap: break-word;
}

header {
	display: flex;
	color: black;
}

header:before,
header:after {
	content: "";
	margin: auto 1em;
	border-bottom: solid 2px;
	flex: 1;
}

/* -------------------------------------------------------------*/
/* --------------------------- BASE -------------------------*/

#baseContainer {
	margin-top: 50px;
	margin-bottom: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#baseContainer li {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
}

#baseContainer li a {
	display: block;
	color: black;
	padding: 8px 16px;
  text-decoration: none;
}

/* -------------------------------------------------------------*/
/* --------------------------- NAVIGATION -------------------------*/

.navbar-nav li {
	margin-right: 25px;
	border-bottom: 1px solid transparent;
}

.navbar-nav li:hover a {
	border-bottom: 1px solid #5B6DDE !important;
}

.navbar-nav i {
	color: white;
}

.navbar-brand {
	font-size: 37px;
	padding: 0;
}

.navbar-brand img {
	height: 40px;
	width: 40px;
}

#nav_username {
	border: none !important;
}

#nav_username img {
	height: 40px;
	max-width: 40px;
}

/* SearchBar */
.nav_searchbar {
	margin-left: 60px;
	margin-top: 5px;
}

.nav_searchbar .form-control {
	max-width: 400px;
	min-width: 200px;
	border-radius: 0px;
}

.nav_searchbar .form-control:focus {
	border-color: #3A4FD5;
}

.nav_searchbar button {
	background-color: #3A4FD5;
	border-color: #3A4FD5;
	border-radius: 0px;
	color: white;
	cursor: pointer;
}

.nav_searchbar button:hover {
	background-color: #3447bf;
	border-color: #3447bf;
}

/* -------------------------------------------------------------*/
/* --------------------------- BUTTONS -------------------------*/

.btn-default {
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid lightgrey;
	background-color: white;
}

#create_post_button {
	float: right;
	margin-top: 35px;
}

.btn-default:hover {
	background-color: #3A4FD5;
	color: white;
}

/* -------------------------------------------------------------*/
/* --------------------------- FORUM -------------------------*/

#forum_list {
	font-size: 25px;
	list-style-type: none;
	margin-top: 65px;
	padding: 0;
	width: 100%;
	border: 10px solid transparent;
	background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(45deg, #fff, #fff), linear-gradient(45deg, #3acfd5, #3a4ed5);
}

#forum_list li {
	border-bottom: 1px solid lightgrey;
}

#forum_list li:hover {
	border-bottom: 2px #3A4FD5 solid;

}

#forum_list li:hover a {
	color: #3A4FD5;
}

.forum_details_title h1{
	position: relative;
	padding: 0.25em 1em;
	overflow: hidden;
	background: linear-gradient(black, black) no-repeat top center,
	linear-gradient(black, black) no-repeat bottom center;
  background-size: calc(100% - 1.65em) 1px;
	color: #3A4FD5;
	animation: fadein 2s;
	font-size: 44px;
	border-color: black !important;
}

.forum_details_title h1:before,
.forum_details_title h1:after {
	content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid black 1px;

  border-top: none;
  border-bottom: none;
  transform: skew(45deg)
}


.forum_details_title h1:after {
	transform: skew(-45deg)
}



@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#forum_list_title {
	text-align: center;
	font-size: 45px;
	-webkit-animation: color-change 17s infinite;
}

@-webkit-keyframes color-change {
	0% { color: #3a4ed5; }
  50% { color: #3acfd5; }
	100% { color: #3a4ed5; }
}

.tops {
	margin: 0px;
	border: 1px solid lightgrey;
}

.categories {
	float: left;
	background: white;
	border: 1px solid lightgrey;
	margin: 20px;
}

.categories i {
	font-size: 25px;
}

.icon_col {
	background: grey;
}

.category_col {
	padding: 10px 10px 0px 10px;
}

.forum_list {
	margin: 0px;
	padding: 0px;
}

.programming {
	margin-top: 10px;
}

.forums {
	float: left;
}

/* -------------------------------------------------------------*/
/* --------------------------- POST -------------------------*/

.post_list {
	margin-top: 85px;
	padding: 20px;
	border: 1px solid lightgrey;
	background-color: white;
}

.post_list a {
	text-decoration: none;
	color: #2A9CCD;
}

.post_list span {
	color: #3A4FD5;
}

.post_content {
	margin-top: 80px;
}

.post_content h1 {
	color: #2A9CCD;
}

.post_content p {
	margin: 20px 0px 20px 7px;
	font-size: 22px;
}

.edit_and_delete {
	text-decoration: none !important;
	color: #2A9CCD;
	margin-right: 5px;
	cursor: pointer;
}

.back_to_forum {
	margin-top: -20px;
}

.back_to_forum i {
	color: #3A4FD5;
}

#post_info {
	color: grey;
}

.post_list_comments i {
	color: #3A4FD5;
}

.post_list_comments {
	margin-left: 7px;
}

.post_list_likes i {
	color: #3A4FD5;
}


/* -------------------------------------------------------------*/
/* --------------------------- COMMENT -------------------------*/

.commentContainer {
	margin-top: 30px;
	border: 1px solid lightgrey;
	background: white;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

.commentContainer p {
	margin: 10px 0px 10px 5px;
	font-size: 19px;
}

.comments_section {
	margin-top: 50px;
}

.comment_info {
	color: grey;
}

.comment_author a {
	margin-right: 5px;
	text-decoration: none;
	color: #2A9CCD;
}

.comment-form {
	max-width: 400px;
	height: 150px;
}

.parent_content {
	color: white;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 2;
	position: absolute;
	padding: 10px;
	border-radius: 5px;
	opacity: 0.9;
	min-width: 150px;
	top: 80px;
}

.reply_parent {
	color: #3A4FD5;
	width: 22px;
	height: 22px;
}

.reply_parent:hover {
	cursor: pointer;
}

.reply_parent:hover + .parent_content {
	display: block;
}
.comment_identifier {
	color: orange;
	float: right;
}

.reply_form {
	padding-bottom: 10px;
	display: none;
}

.show_replies {
	display: none;
}

.replies_link {
	color: grey !important;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none !important;
}

.replies_link i {
	color: #3A4FD5;
	font-size: 19px;
}

.reply_container {
	border: 1px solid lightgrey;
	border-left: 5px solid grey;
	padding: 5px 5px 5px 10px;
	margin: 15px;
	margin-left: 5%;
}

.comment_likes, .comment_likes_done {
	margin-right: 10px;
}

.comment_likes i {
	color: #3A4FD5;
	font-size: 19px;
}

.comment_likes i:hover {
	color: #2e3fab;
}

.comment_likes_done i {
	color: #293899;
	font-size: 18px;
}

.comment_likes_count {
	color: #3A4FD5;
	margin-left: 10px;
}

/* -------------------------------------------------------------*/
/* --------------------------- Private Messages -------------------------*/

.message_list_container {
	margin-top: 60px;
}

.message_container {
	background: white;
	border: 1px solid lightgrey;
	padding: 10px 20px 5px 20px;
}

.message_title {
	color: #2A9CCD;
}

.message_content {
	margin: 20px 0px 20px 15px;
	font-size: 22px;
}

.message_author {
	color: grey;
}

.message_author b {
	color: #2A9CCD;
}

.message_info {
	color: grey;
}

.create_message {
	border-radius: 100%;
	height: 50px;
	width: 50px;
	background: #3A4FD5;
	color: white;
	border: 2px solid lightgrey;
	float: right;
	margin-top: -10px;
}

.create_message:hover {
	background: #2e3fab;
}

.message_labels_container {
	list-style: none;
	margin-bottom: -60px;
	padding: none;
}

.message_labels_container li {
	display: inline-block;
	border: 1px solid lightgrey;
	border-bottom: 0px !important;
	background: white;
	padding: 0px !important;
}

.thread_message {
	border: 1px solid lightgrey;
	border-left: 5px solid grey;
	padding: 5px 5px 5px 10px;
	margin: 15px;
	margin-left: 5%;
}

/* -------------------------------------------------------------*/
/* --------------------------- User Profile -------------------------*/

.userprofile_comment {
	padding: 5px;
}

.userprofile_post {
	border: 1px solid lightgrey;
	background: white;
	padding: 5px;
	margin-top: 30px;
}

.userprofile_post h3 a {
	color: #2A9CCD;
	text-decoration: none !important;
}

.post_info {
	color: grey;
}

.userprofile_post p {
	margin: 10px 0px 10px 7px;
	font-size: 22px;
}

.post_comments {
	color: grey;
	margin-left: 5px;
}

.comment_info a {
	text-decoration: none;
	color: grey;
}

.contact_user_button {
	float: right;
	border-radius: 100%;
	width: 55px;
	height: 55px;
	border: 2px solid lightgrey;
	background: #3A4FD5;
	color: white;
}

.contact_user_button:hover {
	background: #2e3fab;
}

.contact_user_button i {
	font-size: 24px;
}

.profile_username {
	color: #3A4FD5;
	margin: -50px 0px 40px 0px;
}

.comment_author {
	color: #2A9CCD;
}

.empty_userprofile {
	color: grey;
}
