#baseContainer {
	margin-top: 50px;
	margin-bottom: 70px;
    background-color: grey;
    padding-top: 30px;
    padding-bottom: 30px;

}

#baseContainer ul {
	list-style-type: none;
	margin-top: 40px;
	padding: 0;
	width: 100%;
	background-color: lightgrey;
	border: 1px solid black; 
}

#baseContainer li {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

#baseContainer li a {
	display: block;
	color: black;
	padding: 8px 16px;
    text-decoration: none;
}

#commentContainer {
	margin-top: 30px;
	border: 0.5px solid white;
}

p {
	word-wrap: break-word;
}