/* --------------------------- GLOBAL -------------------------*/

body {
	background-color: #f9f8f4;
	font-family: Lobster;
}

p {
	word-wrap: break-word;
}

/* -------------------------------------------------------------*/
/* --------------------------- HEADER -------------------------*/

.title {
	background:#CB8C1D;
	height: 50px;
	border-top: 1px solid #daae60;
	border-bottom: 1px solid #8e6214;

	background: linear-gradient(#d5a34a, #a27017);
}


.header_separator {
	background: #F2EFE4;
	height: 100px;

}

.header_title {
	color: #F2EFE4;
	margin-top: 5px;

}

/* -------------------------------------------------------------*/
/* --------------------------- FOOTER -------------------------*/

.footer_separator {
	background: #F2EFE4;
	height: 125px;
}

.main_footer {
	background: #4C3327;
	height: 200px;
}

.footer_info {
	float: left;
	padding: 0px;
}

.social_media {
	float: right;
	padding: 0px;
}

.footer_list {
	list-style: none;
	margin-top: 30px;
}

.footer_list a {
	color: #F2EFE4;
	text-decoration: none;
}

.footer_list li {
	margin: 5px;
}

.footer_list li span {
	color: white;
}

.fa-facebook {
	color: #3b5998
}

.fa-twitter {
	color: #1dcaff;
}

.fa-youtube {
	color: #cc181e;
}


/* -------------------------------------------------------------*/
/* --------------------------- NAVIGATION -------------------------*/

.navbar {
	background: #4C3327;
}

.navbar-nav li {
	margin-right: 25px;
	border-bottom: 1px solid transparent;
}

.navbar-nav li:hover a {
	border-bottom: 1px solid #CB8C1D; !important;
}

.navbar-nav i {
	color: white;
}

.navbar-brand {
	font-size: 37px;
	padding: 0;
	color: white !important;
}

.navbar-brand img {
	height: 40px;
	width: 40px;
}

#nav_username {
	border: none !important;
}

#nav_username img {
	height: 40px;
	max-width: 40px;
}

/* SearchBar */
.nav_searchbar {
	margin-left: 60px;
	margin-top: 5px;
}

.nav_searchbar .form-control {
	max-width: 400px;
	min-width: 200px;
	border-radius: 0px;
	border-color: #CB8C1D;
}

.nav_searchbar .form-control:focus {
	border-color: #CB8C1D;
}

.nav_searchbar button {
	background-color: #CB8C1D;
	border-color: #CB8C1D;
	border-radius: 0px;
	color: white;
	cursor: pointer;
}

.nav_searchbar button:hover {
	background-color: #a27017;
	border-color: #CB8C1D;
}

.navbar-toggler {
	color: white !important;
}


/* -------------------------------------------------------------*/
/* --------------------------- FORUM -------------------------*/

#index_wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.tops_list {
	margin: 0px;
	padding: 0px;
}

.top {
	margin-top: 20px;
	float: left;
}

.top a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.top_col {
	margin: 0px;
	padding: 10px 10px 10px 0px;
}

.top_col img {
	max-height: 35px;
	max-width: 35px;
}

.categories {
	float: left;
	background: white;
	border: 1px solid lightgrey;
	margin: 20px;
}

.categories:hover {
	background: #F2EFE4;
}

.icon_col {
	background: #F2EFE4;
}

.icon_col img {
	height: 38px;
	width: 38px;
}

.category_col {
	padding: 10px 10px 5px 10px;
}

.category_col p {
	margin: 0px;
	color: grey;
}

.category_col h4 {
	margin: 0px;
	color: black;
	font-size: 22px;
}

.forum_list {
	margin: 0px;
	padding: 0px;
}

.programming {
	margin-top: 10px;
}

.forums {
	float: left;
}

/* -------------------------------------------------------------*/
/* --------------------------- FORUM DETAILS | POSTS LIST -------------------------*/

#forum_wrapper {
	padding: 20px 0px 80px 0px;
}

#post_list {
	margin: 60px 0px 0px 0px;
}

.post_info {
	color: grey !important;
}

.post_info a {
	color: #CB8C1D;
	text-decoration: none;
}

.main_info {

}

.secondary_info {
	float: right;
	padding: 0px;
	margin-top: 20px;
}

.post {
	padding: 20px 20px 20px 20px;
	background: white;
	border: 1px solid lightgrey;
}

.post h2 a {
	text-decoration: none;
	color: black;

}

.post span {
	color: #CB8C1D;
}

.post_comments i {
	color: #CB8C1D;
}

.post_comments {
	margin-left: 7px;
}

.post_likes i {
	color: #CB8C1D;
}

#create_post_button {
	float: right;
}

/* -------------------------------------------------------------*/
/* --------------------------- POST DETAILS  -------------------------*/

.post_content {
	margin-top: 80px;
}

.post_content h1 {
	color: #2A9CCD;
}

.post_content p {
	margin: 20px 0px 20px 7px;
	font-size: 22px;
}

.edit_and_delete {
	text-decoration: none !important;
	color: #2A9CCD;
	margin-right: 5px;
	cursor: pointer;
}

.back_to_forum {
	margin-top: -20px;
}

.back_to_forum i {
	color: #3A4FD5;
}

#post_info {
	color: grey;
}



/* -------------------------------------------------------------*/
/* --------------------------- COMMENT -------------------------*/

.commentContainer {
	margin-top: 30px;
	border: 1px solid lightgrey;
	background: white;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

.commentContainer p {
	margin: 10px 0px 10px 5px;
	font-size: 19px;
}

.comments_section {
	margin-top: 50px;
}

.comment_info {
	color: grey;
}

.comment_author a {
	margin-right: 5px;
	text-decoration: none;
	color: #2A9CCD;
}

.comment-form {
	max-width: 400px;
	height: 150px;
}

.parent_content {
	color: white;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 2;
	position: absolute;
	padding: 10px;
	border-radius: 5px;
	opacity: 0.9;
	min-width: 150px;
	top: 80px;
}

.reply_parent {
	color: #3A4FD5;
	width: 22px;
	height: 22px;
}

.reply_parent:hover {
	cursor: pointer;
}

.reply_parent:hover + .parent_content {
	display: block;
}
.comment_identifier {
	color: orange;
	float: right;
}

.reply_form {
	padding-bottom: 10px;
	display: none;
}

.show_replies {
	display: none;
}

.replies_link {
	color: grey !important;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none !important;
}

.replies_link i {
	color: #3A4FD5;
	font-size: 19px;
}

.reply_container {
	border: 1px solid lightgrey;
	border-left: 5px solid grey;
	padding: 5px 5px 5px 10px;
	margin: 15px;
	margin-left: 5%;
}

.comment_likes, .comment_likes_done {
	margin-right: 10px;
}

.comment_likes i {
	color: #3A4FD5;
	font-size: 19px;
}

.comment_likes i:hover {
	color: #2e3fab;
}

.comment_likes_done i {
	color: #293899;
	font-size: 18px;
}

.comment_likes_count {
	color: #3A4FD5;
	margin-left: 10px;
}

/* -------------------------------------------------------------*/
/* --------------------------- Private Messages -------------------------*/

.message_list_container {
	margin-top: 60px;
}

.message_container {
	background: white;
	border: 1px solid lightgrey;
	padding: 10px 20px 5px 20px;
}

.message_title {
	color: #2A9CCD;
}

.message_content {
	margin: 20px 0px 20px 15px;
	font-size: 22px;
}

.message_author {
	color: grey;
}

.message_author b {
	color: #2A9CCD;
}

.message_info {
	color: grey;
}

.create_message {
	border-radius: 100%;
	height: 50px;
	width: 50px;
	background: #3A4FD5;
	color: white;
	border: 2px solid lightgrey;
	float: right;
	margin-top: -10px;
}

.create_message:hover {
	background: #2e3fab;
}

.message_labels_container {
	list-style: none;
	margin-bottom: -60px;
	padding: none;
}

.message_labels_container li {
	display: inline-block;
	border: 1px solid lightgrey;
	border-bottom: 0px !important;
	background: white;
	padding: 0px !important;
}

.thread_message {
	border: 1px solid lightgrey;
	border-left: 5px solid grey;
	padding: 5px 5px 5px 10px;
	margin: 15px;
	margin-left: 5%;
}

/* -------------------------------------------------------------*/
/* --------------------------- User Profile -------------------------*/

.userprofile_comment {
	padding: 5px;
}

.userprofile_post {
	border: 1px solid lightgrey;
	background: white;
	padding: 5px;
	margin-top: 30px;
}

.userprofile_post h3 a {
	color: #2A9CCD;
	text-decoration: none !important;
}

.post_info {
	color: grey;
}

.userprofile_post p {
	margin: 10px 0px 10px 7px;
	font-size: 22px;
}

.post_comments {
	color: grey;
	margin-left: 5px;
}

.comment_info a {
	text-decoration: none;
	color: grey;
}

.contact_user_button {
	float: right;
	border-radius: 100%;
	width: 55px;
	height: 55px;
	border: 2px solid lightgrey;
	background: #3A4FD5;
	color: white;
}

.contact_user_button:hover {
	background: #2e3fab;
}

.contact_user_button i {
	font-size: 24px;
}

.profile_username {
	color: #3A4FD5;
	margin: -50px 0px 40px 0px;
}

.comment_author {
	color: #2A9CCD;
}

.empty_userprofile {
	color: grey;
}
