<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GForum{% endblock %}</title>
    {% include 'snippets/bootstrap.html' %}
    {% include 'snippets/javascript.html' %}
    {% include 'snippets/general_style.html' %}
    {% block head %} {% endblock %}
</head>
<body>

<!-- Header and Navbar -->
  <header id="header">
    {% include "snippets/nav.html" %}
    <div class="header_separator"></div>
    <div class="title">
      <div class="container">
        {% if icon %}
        <a href="{{ back_to_forum }}"><img src="{{icon}}"/></a>
        {% else %}
        <img id="profile_picture" src="{{profile_picture}}"/>
        {% endif %}
        <span class="forum_title">{{title}}</span>
      </div>
    </div>
  </header>

  <!-- Display Django Messages -->
  {% include "snippets/display_messages.html" %}

  <!-- Main Content -->
  {% block content %}{% endblock %}
</body>

<!-- Footer -->
<footer id="footer" class="footer">
  <div class="footer_separator"></div>
  <div class="main_footer container-fluid">
    <div class="container">
      <ul class="footer_list footer_info">
        <li><span><i class="fa fa-copyright"></i>GForum since 2017</span></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Legal Information</a></li>
        <li><a href="#">Cookies Policy</a></i></li>
        <li><a href="#">Site Rules</a></li>
      </ul>

      <ul class="footer_list social_media">
        <li><span>Social Media</span></li>
        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-youtube"></i> Youtube</a></li>
      </ul>
    </div>
  </div>
</footer>

</html>
