{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% include "snippets/tinymce_key.html" %}
<script type="text/javascript" src="{% static 'js/tinymce.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Arimo|Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="{% static 'images/world-logo.png' %}"/>
