<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Brand and toggle -->
    <a class="navbar-brand" href="{% url 'index' %}">GForum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Wrapper -->
    <div class="collapse navbar-collapse" id="mainNavbar">

        <!-- Left elements -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Subscriptions</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Science</a>
                    <a class="dropdown-item" href="#">Funny</a>
                    <a class="dropdown-item" href="#">Programming</a>
                </div>
            </li>
        </ul>

        <!-- Right elements -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">{{ request.user }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>
        </ul>

    </div>
</nav>