<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Brand and toggle -->
    <a class="navbar-brand" href="{% url 'index' %}">
      {% load static %}<img src="{% static 'images/world-logo.png' %}" alt="Logo"/>GForum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Wrapper -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <!-- Left searchbar -->
      <div class="nav_searchbar">
        <form class="form-inline" method="get" action="{% url 'post:search' %}">
          <input class="form-control" type="text" name="q" placeholder="What are you looking for?"
          aria-label="Search" value="{{ request.GET.q }}">
          <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>


        <!-- Right elements -->
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:profile' %}" id="nav_username">
                    <img class="rounded-circle" src="{{ user.userprofile.image.url }}">
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'messages:inbox' %}"><i class="fa fa-envelope-o fa-2x"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out fa-2x"></i></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}"><i class="fa fa-sign-in fa-2x"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}"><i class="fa fa-user-plus fa-2x"></i></a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>
