<div class="container comments_section">

  {% if user.is_authenticated %}
  <div id="comment_form">
    <h4>New Comment</h4>
    <form method="post" action="{% url 'comment:create' slug=object.slug %}">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default save_button">Save</button>
        <button type="button" class="btn btn-secondary cancel_button comment_toggler">Cancel</button>
    </form>
  </div>


  {% else %}
    <b><a href="{% url 'accounts:login' %}">Login</a> to post comments</b>
  {% endif %}

  <!--- Comments --->
  {% for comment in comment_list %}
    <!--- Comment info --->
    <div class="container-fluid commentContainer">
      
      <img class="comment_pic" src="{{comment.author.userprofile.image.url}}" />
      <div class="comment_body">
        <span class="comment_identifier">#{{ comment.identifier }} </span>
        <b class="comment_author"><a href="{% url 'accounts:profile' user=comment.author.username %}">{{ comment.author }}</a></b>
        <span class="comment_info"> {{ comment.created|timesince }} ago</span>
        {% if comment.score.count > 0 %}
        <span class="comment_likes_count">{{ comment.score.count }} likes</span>
        {% endif %}

        <!--- If its a reply show parent identifier and content on hover --->
        {% if comment.is_reply %}
        <br /><div class="reply_parent">@{{ comment.parent.identifier }}</div>
        <!--- Parent content --->
        <div class="parent_content">
          <b>{{ comment.parent.author }}</b>
          <p>{{ comment.parent.content }}</p>
        </div>
        {% endif %}

        <!--- Content --->
        <p>{{ comment.content }}</p>
        <!--- Options --->
        {% if comment.author == request.user %}
        <b><a href="{% url 'comment:update' pk=comment.pk %}" class="edit_and_delete">Edit</a></b>
        <b><a href="{% url 'comment:delete' pk=comment.pk %}" class="edit_and_delete">Delete</a></b>
        {% endif %}

        <!--- Reply option and form --->
        {% if user.is_authenticated and comment.author != request.user %}
        {% if request.user in comment.score.all %}
        <span class="comment_likes_done"><a href="{% url 'comment:like' pk=comment.pk %}"><i class="fa fa-thumbs-up"></i></a></span>
        {% else %}
        <span class="comment_likes"><a href="{% url 'comment:like' pk=comment.pk %}"><i class="fa fa-thumbs-o-up"></i></a></span>
        {% endif %}
        <b><a href="{% url 'reports:comment' pk=comment.pk %}" class="edit_and_delete report_link">Report</a></b>
        <b><a href="javascript:" class="edit_and_delete reply_link">Reply</a></b>
        <form class="reply_form" method="post" action="{% url 'comment:reply' slug=object.slug pk=comment.pk %}">{% csrf_token %}
            <span class="comment_form">{{ form.as_p }}</span>
            <button type="submit" class="btn btn-default save_button">Save</button>
            <button type="button" class="btn btn-secondary cancel_button cancel_reply">Cancel</button>
        </form>
        {% endif %}

        {% if comment.replies.all %}
          <a href="javascript:" class=replies_link>{{comment.replies.all|length}}
            {% if comment.replies.all|length > 1 %}Replies{% else %}Reply{% endif %} <i class="fa fa-caret-down"></i></a>
          <div class="show_replies">
            {% for reply in comment.replies.all %}
            <div class="reply_container">
              <span class="comment_identifier">#{{ reply.identifier }} </span><b class="comment_author">{{ reply.author }}</b>
              <span class="comment_info"> {{ reply.created|timesince }} ago</span>

              <!--- Content --->
              <p>{{ reply.content }}</p>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>


    </div>
  {% endfor %}
</div>
