


<h2>Comments<small> ({{object.comment_set.all|length}})</small></h2>

{% if user.is_authenticated %}
<form method="post" action="{% url 'comment:create' slug=object.slug %}">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-default">Save</button>
</form>
{% else %}

<b><a href="{% url 'accounts:login' %}">Login</a> to post comments</b>

{% endif %}

<br>

{% for comment in comment_list %}

<div class="container-fluid" id="commentContainer">

    <b id="comment_author">{{ comment.author }}</b><span id="comment_info"> {{ comment.created|timesince }} ago</span>
    <p>{{ comment.content }}</p>
    {% if comment.author == request.user %}
    <b><a href="{% url 'comment:update' pk=comment.pk %}" class="edit_and_delete">Edit</a></b>
    <b><a href="{% url 'comment:delete' pk=comment.pk %}" class="edit_and_delete">Delete</a></b>
    {% endif %}
</div>

{% endfor %}
