<div class="container comments_section">

  <!-- If the user is authenticated make the comment form available -->
  {% if user.is_authenticated %}
  <div id="comment_form_container">
    <span id="comment_form_anchor"></span>
    <h4>New Comment</h4>
    <form method="post" action="{% url 'comment:create' slug=object.slug %}">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default save_button" onclick="tinyMCE.triggerSave();">Save</button>
        <button type="button" class="btn btn-secondary cancel_button comment_toggler">Cancel</button>
    </form>
  </div>
  <!-- Else show link to login -->
  {% else %}
  <b><a href="{% url 'accounts:login' %}">Login</a> to post comments</b>
  {% endif %}

  <!--- Comments List --->
  <div id="comments_list">
    {% for comment in comment_list %}
    <!-- Comment -->
    <span id={{comment.identifier}} class="comment_anchor"></span>
      <!--- Comment info --->
      <div class="comment_wrapper"> <!-- Needed to allow the parent content popup to overflow -->
        <div class="container-fluid commentContainer">

          <!-- If the user has image use it -->
          {% if comment.author.userprofile.image %}
          <img class="comment_pic" src="{{comment.author.userprofile.image.url}}" />
          {% else %}
          <!-- Else use the default image -->
          {% load static %}
          <img class="comment_pic" src="{% static 'images/default-profile.png' %}">
          {% endif %}
          <!-- Comment content -->
          <div class="comment_body">
            <!-- Identifier -->
            <span class="comment_identifier">#{{ comment.identifier }} </span>
            <!-- Author username and profile link -->
            <b class="comment_author">
              <a href="{% url 'accounts:profile' user=comment.author.username %}">{{ comment.author }}</a>
            </b>
            <!-- Time since -->
            <span class="comment_info"> {{ comment.created|timesince }} ago</span>

            <!--- If its a reply show parent identifier and content on hover --->
            {% if comment.is_reply %}
            <br /><div class="reply_parent">@{{ comment.parent.identifier }}</div>
            <!--- Parent content --->
            <div class="parent_content">
              <b>{{ comment.parent.author }}</b>
              <p class="parent_content_body">{{ comment.parent.content }}</p>
            </div>
            {% endif %}

            <!--- Content --->
            <p>{{ comment.content | safe }}</p>

            <!--- Options --->
            {% include "snippets/comment_options.html" %}

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
