{% extends "snippets/base.html" %} {% block title %}GForum{% endblock %} {% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm-9 forum_list">
      <div class="container general forums">
        <h2>General</h2>
        {% for forum in general_forums %}
        <a href="{{forum.get_absolute_url}}">{% include "snippets/forum_categories.html" %}</a>
        {% endfor %}
      </div>

      <div class="container programming forums">
        <h2>Programming</h2>
        {% for forum in programming_forums %}
        <a href="{{forum.get_absolute_url}}">{% include "snippets/forum_categories.html" %}</a>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-3 tops_list">
      <h3>Top Posts</h3>
      {% for post in top_posts %}
      <div class="col-sm-12 top">
        <div class="row">
          <div class="col-sm-2 top_col">
          <img src="{{ post.forum.icon.url }}" />
          </div>
          <div class="col-sm-10 top_col info_col">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>
</div>{% endblock %}
