{% extends "snippets/base.html" %} {% block title %}GForum{% endblock %} {% block content %}

<div class="container" id="index_wrapper">
  <div class="row">

    <div class="col-lg-9 col-12 forum_list">
      <div class="container general forums">
        <h2 class="sub-title">General</h2>
        {% for forum in general_forums %}
        <a href="{{forum.get_absolute_url}}">{% include "snippets/forum_categories.html" %}</a>
        {% endfor %}
      </div>

      <div class="container programming forums">
        <h2 class="sub-title">Programming</h2>
        {% for forum in programming_forums %}
        <a href="{{forum.get_absolute_url}}">{% include "snippets/forum_categories.html" %}</a>
        {% endfor %}
      </div>
    </div>

    <div class="col-12 col-lg-3 side_posts_list container">

      <div id="new_list_container">
        <h3 class="sub-title new"><i class="fa fa-newspaper-o"></i> New Posts</h3>
        {% for post in new_posts %}
        <div class="col-12 side_post">
          <div class="row">
            <div class="col-2 side_post_col">
            <a href="{{ post.forum.get_absolute_url }}"><img src="{{ post.forum.icon.url }}" /></a>
            </div>
            <div class="col-10 side_post_col info_col">
            <a href="{{ post.get_absolute_url }}" class="side_posts_text">{{ post.title }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div id="top_list_container">
        <h3 class="sub-title tops">{% load static %}<img src="{% static 'images/star-icon.png' %}" id="tops_icon" /> Top Posts</h3>
        {% for post in top_posts %}
        <div class="col-12 side_post">
          <div class="row">
            <div class="col-2 side_post_col">
            <a href="{{ post.forum.get_absolute_url }}"><img src="{{ post.forum.icon.url }}" /></a>
            </div>
            <div class="col-10 side_post_col info_col">
            <a href="{{ post.get_absolute_url }}" class="side_posts_text">{{ post.title }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
</div>{% endblock %}
