{% extends "snippets/base.html" %} {% block title %}GForum{% endblock %} {% block content %}

<div class="container" id="index_wrapper">
  <div class="row">

    <div class="col-sm-9 col-6 forum_list">
      <div class="container general forums">
        <h2>General</h2>
        {% for forum in general_forums %}
        <a href="{{forum.get_absolute_url}}">{% include "snippets/forum_categories.html" %}</a>
        {% endfor %}
      </div>

      <div class="container programming forums">
        <h2>Programming</h2>
        {% for forum in programming_forums %}
        <a href="{{forum.get_absolute_url}}">{% include "snippets/forum_categories.html" %}</a>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-3 col-6 tops_list container">
      <h3>{% load static %}<img src="{% static 'images/star-icon.png' %}" id="tops_icon" /> Top Posts</h3>
      {% for post in top_posts %}
      <div class="col-sm-12 top">
        <div class="row">
          <div class="col-sm-2 top_col">
          <a href="{{ post.forum.get_absolute_url }}"><img src="{{ post.forum.icon.url }}" /></a>
          </div>
          <div class="col-sm-10 top_col info_col">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>
</div>{% endblock %}
